/* #popover-content {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  #popover-content label {
    display: block;
    margin-bottom: 5px;
  }
  
  #popover-content input {
    width: 100%;
    margin-bottom: 10px;
  }
  
  #submit-email-btn {
    display: block;
    margin-top: 10px;
  }
   */